
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


body {
  width: 100%;
  background-color: #000000;
  overflow: visible;
  font-family: 'Source Code Pro', monospace;
  overflow-y: scroll;
overflow-x: hidden;
}

.container {
  width: 100%;
}

.title {
  color: white;
  margin: 0;
  padding: 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  margin-left:10px;
}

.base-line {
}

.base-pointer {
  display: inline-block;
  color: white;
  margin: 0 5px 0 0;
  padding: 0 10px;
font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

.base-input {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  width: 80%;
}

.new-line {
  width: 100%;
}

.new-pointer {
  display: inline-block;
  color: white;
  margin: 0 5px 0 0;
  padding: 0 10px;
 font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}

.new-input {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
  width: 80%;
}

.error-line {
  width: 100%;
}

.error-pointer {
  display: inline-block;
  color: white;
  margin: 0 5px 0 0;
  padding: 0 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 15px;
}
.logo{
  height:50px;
  width:50px;
  margin-top:10px;
  margin-left:10px;
  margin-bottom:10px;
  background:url(../img/icon/termico.png);
  background-size: contain;
}
